{% extends 'base.html.twig' %}

{% block title %}SortirAJMS | Mot de passe perdu{% endblock %}

{% block main %}
    <h1>Mot de passe perdu</h1>

    <div class="lostPassword">
        {{ form(lostPassword) }}
    </div>
    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}

{% endblock %}
