{% extends 'base.html.twig' %}

{% block title %}SortirAJMS | Lieu{% endblock %}
{% block page %} Lieu{% endblock %}
{% block main %}
        <h1>Lieu</h1>
    <p>Voici le lieu de la sortie: ex : V'n'B</p>
{% endblock %}
