{% extends 'base.html.twig' %}

{% block title %}SortirAJMS | Etat{% endblock %}

{% block page %} Etat{% endblock %}

{% block main %}
        <h1>Etat</h1>
    <p>Indique l'etat de la sortie ex: en cours</p>
{% endblock %}
