{% extends 'base.html.twig' %}

{% block title %}
    Sortir AJMS | Inscription
{% endblock %}

{% block main %}
    <h1>Modifier mon profil</h1>
    <br>
    <br>
    <h2>Bienvenue  sur espace personnel.</h2>
    <br>
    <div class="userForm">
        {{ form (userForm)}}
        <br>
    </div>
{% endblock %}
